<div class="extra-padding-top">
<div class="container-block">
  <div class="about">
    <div class="about-header">
      <h1><span class="header-small">About engage</span></h1>
    </div>
    <div class="about-info justify-text">
      <p class="small-fonts" >
        <%= image_tag "pricetag.png", :class => "initial-image", :style => "float: left; width: 200px" %>
        <b>enGUAGE</b> is a monthly bootcamp organised by Web Farm international limited trading as <b>web palace&trade;</b>.
        It is an Open, Collaborative and Community Oriented working environment for <em><b>beginners</b>, <b>nameless coders</b>, and <b>Start-up enthusiast</b></em> to learn and develop Apps with Hands-on-practical experience.
      </p>

      <p>We here by welcome you to the first episode of enguage hosted at gwagwalada on the <b>1st of May 2012</b> in which we bring
        to you wonderful packages tha would blow your minds in the aspect of <b>web development</b>.
      </p>
      <div>
      <h5>enGUAGER's</h5>

      <ul class="social-media">
        learn to create Apps like,
      <li><span class="label"> Facebook </span> </li>
      <li><span class="label"> Twitter<%= link_to image_tag("twitter.png")  %></span> </li>
      <li><span class="label">you<span class="appsy"> tube </span></span></li>
        from the Scratch, Also build web and mobile applications as Entrepreneurs.
      </ul>
      <b><em>enGUAGER's(people who attend this event)</em></b>, get engauged with the worlds best development tools such as
        <ul>
        <li>Ruby on Rails</li><li>CSS3 and HTML5</li> <li>javascript</li> <li>JQuery</li> <li>JSON</li> <li>Blackberry OS</li> <li>Android OS</li> <li>IOS</li> <li>Web OS</li>
        </ul>
      </div>
      <p>In this first episode of enguage we would be developing together our first <b>Entertainment Web and mobile Application</b> in which at the end of the event, you will be hosting your first web and mobile application with our hosting service(<em>paid for by enguage</em>) for public use. </p>
    </div>

  </div>

  <div class="reg-details">
    <div class="about-header">
      <h1><span class=" "><em>Join engage now!</em></span> <span style="float: right; font-size: 12px;">Already registered <%= link_to "Click here", search_form_path %></span></h1>
    </div>
    <div class="reg-form">
      <%= render "users/form" %>
    </div>
  </div>
</div>


<div class= "main2">

  <div class="left-column">
    <h1 style="border-bottom: 1px solid #87ceeb"> Our Tools</h1>
    <div class="tools">
      <%= image_tag "rails.png", :class => "image-of-tools" %>
      <h1>Ruby on Rails</h1>
      <p>
        Ruby on rails is an open source web frame work that is optimised for programmer happiness and sustainable productivity, it lets you write beautiful codes by favoring convention over configuration
        Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.
        Powerful web applications that formerly might have taken weeks or months
        to develop can be produced in a matter of days
      </p>
    </div>

    <div class="tools">
      <%= image_tag "images (1).jpg", :class => "image-of-tools" %>
      <h1>mobile OS</h1>
      <p>
        this is has to do with the mobile Operating system we will be dealing with during the course of our trainin, which include the <em>Blackberry OS</em> by <b>RIM</b>, the <em>Android OS</em> by <b>Google</b>, the <em>IOS</em> by <b>Apple</b>, and the <em>Symbian OS</em> by <b>Nokia</b> to know how to make things even and tell evey on
      </p>
    </div>

    <div class="tools">
      <%= image_tag "logo_jquery_215x53.gif", :class => "image-of-tools" %>
      <h1>JQuery</h1>
      <p>
        jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. jQuery is designed to change the way that you write JavaScript.
      </p>
    </div>

    <div class="tools">
      <%= image_tag "w3schoolslogo.gif", :class => "image-of-tools", :style => "height: 40px;" %>
      <h1>HTML5</h1>
      <p>
        HTML5 will be the new standard for HTML.

        The previous version of HTML, HTML 4.01, came in 1999. The web has changed a lot since then.

        HTML5 is still a work in progress. However, the major browsers support many of the new HTML5 elements and APIs.</p>
    </div>

    <div class="tools">
      <%= image_tag "p.png", :class => "image-of-tools" %>
      <h1>CSS3</h1>
      <p>
        Cascading Style Sheets (CSS) are the modern standard for website presentation. When combined with structural markup language like HTML, XHTML, or XML (though not limited to these), CSS provide Internet browsers with the information that enables them to present all the  visual aspects and elements of a web document. CSS apply things like borders, spacing between paragraphs, margins, headings on images, control of font faces or colors, background colors and images, textual effects like underlined or strike-through text, layering, positioning, and a number of other presentational effects. CSS controls the presentational aspects of a web page’s design, whereas HTML, XHTML, or XML control the
        structure of a webpage, which means more than determining that certain text is a heading, other text is a paragraph, other text os a list of hyperlinks, and so on.

        By using modern standards like CSS and XHTML, you can dramatically reduce the cost of building and maintaining a website when compared to legacy HTML-only pages. You can also greatly reduce the amount of physical bandwidth and hard disk space required, resulting in immediate long-term benefits for any webmasters and web visitor</p>
    </div>

    <div class="tools">
      <%= image_tag "json160.gif", :class => "image-of-tools" %>
      <h1>JSON/Javascript</h1>
      <p>
        JSON (JavaScript Object Notation) is a lightweight data-interchange format. It is easy for humans to read and write. It is easy for machines to parse and generate. It is based on a subset of the JavaScript Programming Language, Standard ECMA-262 3rd Edition - December 1999. JSON is a text format that is completely language independent but uses conventions that are familiar to programmers of the C-family of languages, including C, C++, C#, Java, JavaScript, Perl, Python, and many others. These properties make JSON an ideal data-interchange language.</p>
    </div>


  </div>

  <div class="right-column">
    <h1 style="border-bottom: 1px solid skyblue;">Your Benefits</h1>
    <div class="tools1">
      <h1 style="font-size: 22px;">Get a cd with resources worth <strike> N</strike>10,000</h1>
      <p>
        Every registered individuals will have access to a compact CD-R with loaded resources worth <strike>N</strike>10,000, and will also have access to all our development tools which will be used throughout the Training process.
      </p>
    </div>

    <div class="tools1">
      <h1 style="font-size: 22px;">Learn To work with the best development Tools</h1>
      <p>
        In enGUAGE we work with the latest web development tool such as Ruby on rails, HTML5, CSS3, JQuery, JSON, JavaScript, and some Mobile application tools in which the participants will learn to use.
      </p>
    </div>

    <div class="tools1">
      <h1 style="font-size: 22px;">Become a pro in mobile and web development</h1>
      <p>
        At the end of the training every participant is will be rest assured that he/she is just a stone throw in becoming a professional web developer, which the individual after a little more personal effort i believe is going to achieve.
      </p>
    </div>
    <div>
      <h1 class="sponsors-header" style="color: maroon;">Sponsors</h1>
      <ul class="first-second" style="margin-left: 0;">
        <li><%= image_tag "800px-Microsoft_Logo.png" %></li>
        <li><%= image_tag "863724227.png", :class=>"first-image"  %></li>
        <li><%= image_tag "webpalace ico.png", :class=>"first-image", :style => "width: 100px;"  %></li>
        <li><%= image_tag "Google.png", :class=>"first-image", :style => "width: 150px;"  %></li>
      </ul>
    </div>
  </div>
</div>
</div>

